
.follow-list{
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

.follow-list ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 150px;
    margin: auto;
    padding: 5px;
}

.follow-list ul li{
    border: 1px solid black;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.follow-list ul li img{
    
    max-height: 150px;
}

.follow-list ul li span{
    display: inline-block;
}

.follow-list ul li button{
    background-color: #fff;
    margin: 5px;
    padding: 5px;
    text-transform: uppercase;
    font-weight: 700;
    border: solid 1px gray;
    border-radius: 15px;
    color: rgb(59, 151, 255);
}

.follow-list ul li button:hover{
    cursor: pointer;
    background-color: rgb(224, 224, 224);
}