form label{
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-direction: column;
}

form button{
    display: block;
    background-color: #fff;
    margin: 10px auto;
    padding: 9px;
    text-transform: uppercase;
    font-weight: 700;
    border: solid 1px gray;
    border-radius: 9px;
    color: rgb(59, 151, 255);
}

form button:hover{
    cursor: pointer;
    background-color: rgb(224, 224, 224);
}