
.nav-bar nav a{
    padding: 9px;
    margin: 5px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    border: solid 1px gray;
    border-radius: 9px;
    color: rgb(59, 151, 255);
} 

.nav-bar nav a:hover{
    background-color: rgb(224, 224, 224);
}

.nav-bar nav ul{
    padding: 0px;
    list-style: none;
}
.nav-bar nav ul li{
    display: inline;
}