.post-list{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.post-list ul.post-ul li{
    display: flex;
    flex-direction: column;
    list-style: none;
    border:1px solid #ccc;
    margin-top: 1px;
    line-height: 2;
    padding: 5px 20px;
}

.post-list ul.post-ul li span.avatar img{
    max-width: 150px;
    max-height: 150px;
}
