.post-list{
    display: flex;
    align-self: center;
    margin: 20px;
}

.post-list ul.post-ul li div.like{
    font-size: 45px;   
}


.post-list ul.post-ul li div.like span.thumb-down:hover{
    font-size: 55px;
    transition: all 0.5s;
    cursor: pointer;
}

.post-list ul.post-ul li div.like span.thumb-up:hover{
    font-size: 55px;
    transition: all 0.5s;
    cursor: pointer;
}

.post-list ul.post-ul li div.like p{
    font-size: 20px;
    
}


.post-list ul.post-ul li{
    display: flex;
    flex-direction: column;
    list-style: none;
    border:1px solid #ccc;
    margin-top: 1px;
    line-height: 2;
    padding: 20px 20px;
    width: 600px;
}

.post-list ul.post-ul li span.avatar img{
    max-width: 150px;
    max-height: 150px;
}
